# Будут игнорироваться все файлы, находящиесяв подкаталоге tmp
tmp/

# Будут игнорироваться файлы, заканчивающиеся суффиксами _old, _backup
_old*
_backup*

# Будут игнорироваться файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store